
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - MusicReviewApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
